html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

main p {
    padding-left: 2rem;
    padding-right: 2rem;
}

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/** Utilidades **/
img{
    display: block;
    margin: 0 auto;
    max-width: 95%;
    /**max-width: 40%;**/
}

.row {
    display: flex;
}
.column {
    flex: 33.3%;
    padding: 10px;
}

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.imagenes-contenedor {
    display: flex;
    margin: 0 auto;
}

.peliculas img {
    border: 10px solid rgba(111, 108, 112, 0.45);
    transition: border-color .3s ease-in-out;
}

.peliculas img:hover {
    border: 10px solid rgba(128, 1, 195, 1);
    cursor: pointer;
}



/** Botones **/
.btn-personal {
    background-color: #ffce00;
    padding: 1rem 4rem;
    margin: 3rem 5rem 3rem 5rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}

.btn-personal a{
    text-decoration: none;  
}

.btn-personal:hover {
    cursor: pointer;
    background-color: #d8c624;
    transition: background-color .3s ease-in-out;
}

@media (min-width: 768px) {
    .btn {
        display: inline-block;
        flex: 0 0 auto;
    }
}

/** Header **/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background: linear-gradient(90deg, #05a0a5,#67996e);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /** Se llena la altura y el ancho **/
    height: 60rem;
}

.site-header a {
    color: #ffffff;
    text-decoration: none;
}

.site-header .navegacion a:hover {
    color:rgba(128, 1, 195, 1);
    transition: .3s ease-in-out;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.site-header h1 span {
    font-weight: 700;
}

/**Header paginas**/
.site-header-paginas {
    height: 7rem;
    background-color: #000000;
    background: linear-gradient(90deg, #05a0a5,#67996e);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /** Se llena la altura y el ancho **/
}

.site-header-paginas a {
    color: #ffffff;
    text-decoration: none;
}

.site-header-paginas .navegacion a:hover {
    color:rgba(128, 1, 195, 1);
    transition: .3s ease-in-out;
}

.site-header-paginas h1 {
    text-align: center;
    font-weight: 400;
}

.site-header-paginas h1 span {
    font-weight: 700;
}

/** Navegación **/
.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }

    .navegacion a:last-of-type {
        margin: 0;
    }
}

/** header texto **/
.texto-header {
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 10rem;
    }

}

.texto-header p {
    font-size: 2.2rem;
    text-align: left;
    margin-top: 1rem;
}

.texto-header img {
    max-width: 30%;
    border: 10px solid rgba(128, 1, 195, .45);
    transition: border-color .3s ease-in-out;
    position: relative;
    top: -30rem;
    left: 25rem;
}

.texto-header img:hover {
    border: 10px solid rgba(128, 1, 195, 1);
    cursor: pointer;
}

.texto-header h2 {
    margin-top: -5rem;
}

/** Contenido principal HOME **/
.nombre-subtema {
    text-align: center;
    font-weight: 500;
}

.personales-contenedor {
    padding: 5rem;
}

.contenido-principal {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .contenido-principal {
        justify-content: space-between;
    }
}

/** Opcional **/
.entrada-blog {
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
}

.entrada-blog:last-of-type {
    border: none;
}

/** Footer **/
.site-footer {
    background-color: #000000;
    padding: 3rem;
    margin-top: 4rem;
}

.site-footer p {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.site-footer p span {
    font-weight: 700;
}
